
@font-face{
    font-family: callingstone;
    src: url(fuentes/callingstone/Callingstone\ -\ Personal\ Use\ Only.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0%;
    margin: 0%;
}

body {
    background-color: lightcyan;
}

header{
    margin: auto;
    background-color: rgba(247, 169, 139, 0.73);
    padding: 3%;
    display: flex;
    justify-content: center;
}
ul{
    list-style: none;
    
}


.menu{
    
    font-family: callingstone;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: flex;
    position: absolute;
}
.menu a{
    color:gray;
}
.menu >li{
    float: left;
    margin: 1.2rem;
}

.menu li ul{
    display: none;
    position: absolute;
}

.menu li:hover>ul{
    display: block;
}




table{
    padding: 5%;
    align-items: center;
}

h1 {
    text-align: center;
    padding: 20px;
    border: 2px solid coral;
    background-color: floralwhite;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 40%;
    margin: 65px auto;
}
h2{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    padding: -10px;
}

.mapa{
    padding: left 10%;
    width: 50px;
    align-items: center;
}
